@use 'vars' as *;
@use 'libs' as *;

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align-last: left;
  }

  &-right {
    text-align: right;
  }
}

.medium {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.inherit {
  font-weight: inherit;
  font-size: inherit;

  &-weight {
    font-weight: inherit;
  }

  &-size {
    font-size: inherit;
  }
}
