/* Vars:
   ========================================================================== */

// Font
$mainFont: 'DIN', sans-serif;
$mainFontSize: 16px;
$mainLineHeight: 1.35;
$mainFontWeight: normal;
$mainFontColor: #000;

//colors
$white: #fff;
$black: #000;
$primary: #009fe3;
$accent: #14427a;
$backdrop: rgba(39, 39, 39, 0.45); // hex #272727 opacity 0.45

// grid
$grid-desktop: 12;
$grid-desktop-gap-col: 40px;
$grid-desktop-gap-row: 20px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);
$container-max-widths: (
  sm: 556px,
  md: 748px,
  lg: 972px,
  xl: 1160px,
  xxl: 1410px,
);
