extends ../../layout/main

block variables
  - title = 'Led';
  - description = '';
  - theme = '#009FE3';
  - slug = 'index';
  - pageClass = slug + '-page';

block content
  section.banner
    +pic('banner__bg', './assets/img/bg-main.jpg')
    +wrapper()
      +icon('banner__logo', 'logo')
      .banner__inner
        +pic('banner__inner-bg', './assets/img/bg-alt.png')
        h1.banner__header ПРЕДНОВОГОДНИЙ ТУРНИР ПО ХОККЕЮ 3х3
        p.banner__subheader призовой фонд
        strong.banner__price
          span.inherit 250 000
          | р
        .banner__description
          p.banner__description-text
            span.banner__description-upper 19 ДЕКАБРЯ ОТБОРОЧНЫЙ ЭТАП
            br
            span.banner__description-lower Суббота. Ледовый дворец «Центральный»
          p.banner__description-separator &nbsp;/&nbsp;
          p.banner__description-text
            span.banner__description-upper 26 ДЕКАБРЯ ФИНАЛЬНЫЙ ЭТАП
            br
            span.banner__description-lower Суббота. Арена ЦСКА (Тренировочный лед)
        p.banner__header УЧАСТИЕ БЕСПЛАТНОЕ
  section.rules
    .rules__clip
    //- img.rules__clip(src="./assets/img/bg1.png" alt="")
    +wrapper()
      .rules__head-wrapper
        +pic('rules__head-pic', './assets/img/shaiba.png')
        .rules__head-inner
          .rules__head-line
          .rules__head-text-outer
            .rules__head-text
              span &nbsp;
              | принять участие
              span &nbsp;
        +pic('rules__head-pic', './assets/img/shaiba.png')
      h2.rules__h2 ПРАВИЛА И ФОРМАТ
      .rules__container
        .rules__team-wrapper
          p.rules__team-header КОМАНДА
          img.rules__team-img(src="./assets/img/3+1.png" alt="")
        .rules__people-wrapper
          img.rules__people-img(src="./assets/img/man.png" alt="")
          p.rules__people-header
            | МУЖЧИНЫ
            br
            | ЖЕНЩИНЫ
            br
            | 18+
          img.rules__people-img(src="./assets/img/woman.png" alt="")
      .rules__details
        h3.rules__details-header ГРУППОВОЙ ЭТАП:
        p.rules__details-descr группы по 6 команд. В плей-офф выходит 3 команды.
        h3.rules__details-header ПЛЕЙ-ОФФ:
        p.rules__details-descr 48 команд играют в группах по 3 команды. Две выходят в сетку на вылет.
  section.rules__alt
    .rules__clip
    +wrapper()
      .rules__container
        .rules__item-wrapper
          img.rules__item-img(src="./assets/img/field.png" alt="")
          p.rules__item-header КАЖДАЯ ПЛОЩАДКА
          p.rules__item-subheader 30x16 (18) m
        .rules__item-wrapper
          img.rules__item-img(src="./assets/img/goal.png" alt="")
          p.rules__item-header Ворота
          p.rules__item-subheader 0,9х0,15 m
      .rules__list-wrapper
          .rules__list
            p.rules__list-item
              span &nbsp;
              | 1 тайм-аут - 30 секунд
            p.rules__list-item
              span &nbsp;
              | игра проходит по правилам хоккея
            p.rules__list-item
              span &nbsp;
              | игра проходит в течение 7 минут чистого времени <br> или до 5 голов
            p.rules__list-item
              span &nbsp;
              | запрещены силовые приемы
            p.rules__list-item
              span &nbsp;
              | запрещено умышленное поднятие шайбы при <br> бросках и передачах выше уровня колена
            p.rules__list-item
              span &nbsp;
              | запрещены щелчки
          .rules__list
            p.rules__list-item
              span &nbsp;
              | голы со своей половины поля не считаются
            p.rules__list-item
              span &nbsp;
              | при нарушении правил назначается штрафной <br> бросок по пустым воротам с расстояния 1 метр от <br> собственных ворот
            p.rules__list-item
              span &nbsp;
              | разрешено защищать ворота только стоя на коньках, <br> не касаясь другими частями теля льда
            p.rules__list-item
              span &nbsp;
              | запрещены силовые приемы
            p.rules__list-item
              span &nbsp;
              | при ничьей назначаются буллиты до первого <br> промаха
  section.teams
    .teams__clip
    +wrapper()
      h2.teams__h2 Команды участники
      .teams__block-wrapper
        .teams__block-header
          .teams__block-time 10:00-12:00
        .teams__block
          .teams__block-subheader Игры дивизионов №1- №4
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №1
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №2
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №3
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №4
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
      .teams__block-wrapper
        .teams__block-header
          .teams__block-time 10:00-12:00
        .teams__block
          .teams__block-subheader Игры дивизионов №1- №4
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №1
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №2
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №3
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №4
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
      .teams__block-wrapper
        .teams__block-header
          .teams__block-time 10:00-12:00
        .teams__block
          .teams__block-subheader Игры дивизионов №1- №4
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №1
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №2
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №3
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №4
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
      .teams__block-wrapper
        .teams__block-header
          .teams__block-time 10:00-12:00
        .teams__block
          .teams__block-subheader Игры дивизионов №1- №4
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №1
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №2
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №3
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
          .teams__block-item-wrapper
            p.teams__block-item-header Дивизион №4
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
            .teams__block-item
              p.teams__block-item-name Динамо
              p.teams__block-item-descr Москва
  section.map
    .map__clip
    .map__box
      .map__box-content#map-left(style="height: 100%")
    .map__box.mirrored
      .map__box-content#map-right(style="height: 100%")
    +wrapper()
      .rules__head-wrapper
        +pic('rules__head-pic', './assets/img/shaiba.png')
        .rules__head-inner
          .rules__head-line
        +pic('rules__head-pic', './assets/img/shaiba.png')
      h2.map__h2 Место проведения
      .banner__description
        p.banner__description-text
          span.banner__description-upper 19 ДЕКАБРЯ ОТБОРОЧНЫЙ ЭТАП
          br
          span.banner__description-lower Суббота. Ледовый дворец «Центральный»
        p.banner__description-separator &nbsp;/&nbsp;
        p.banner__description-text
          span.banner__description-upper 26 ДЕКАБРЯ ФИНАЛЬНЫЙ ЭТАП
          br
          span.banner__description-lower Суббота. Арена ЦСКА (Тренировочный лед)
      +icon('map-logo banner__logo', 'logo')
  section.map-mobile
    .map__clip
    +wrapper()
      .rules__head-wrapper
        +pic('rules__head-pic', './assets/img/shaiba.png')
        .rules__head-inner
          .rules__head-line
        +pic('rules__head-pic', './assets/img/shaiba.png')
      +icon('map-logo banner__logo', 'logo')
      h2.map__h2 Место проведения
      .banner__description
        p.banner__description-text
          span.banner__description-upper 19 ДЕКАБРЯ ОТБОРОЧНЫЙ ЭТАП
          br
          span.banner__description-lower Суббота. Ледовый дворец «Центральный»
    .map__box-mobile
      .map__box-content#map-left-mobile(style="height: 100%")
    +wrapper()
      .banner__description
        p.banner__description-text
          span.banner__description-upper 26 ДЕКАБРЯ ФИНАЛЬНЫЙ ЭТАП
          br
          span.banner__description-lower Суббота. Арена ЦСКА (Тренировочный лед)
    .map__box-mobile
      .map__box-content#map-right-mobile(style="height: 100%")
