@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.banner {
  position: relative;
  padding-top: rem(10);

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      object-position: center;
    }
  }

  &__logo {
    display: block;
    width: rem(330);
    height: rem(330);
    margin: 0 auto;
    @media screen and (max-width: 767.98px) {
      width: rem(140);
      height: rem(140);
    }
  }

  &__inner {
    position: relative;
    top: rem(-80);
    width: 100%;
    max-width: rem(1170);
    margin: 0 auto rem(-80);
    padding-top: rem(25);

    &-bg {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      width: rem(880);
      height: rem(280);
      transform: translateX(-50%);
    }
  }

  &__header {
    margin-bottom: rem(-18);
    color: $white;
    font-size: rem(50);
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 1199.98px) {
      @include font-size(45);
    }
  }

  &__subheader {
    color: $white;
    font-size: rem(42);
    text-align: center;
    @media screen and (max-width: 1199.98px) {
      @include font-size(32);
    }
  }

  &__price {
    display: block;
    width: 100%;
    margin-top: rem(-40);
    color: $white;
    font-size: rem(50);
    font-family: 'Pepsi', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 1199.98px) {
      @include font-size(45);

      margin-top: rem(-16);
    }
    @media screen and (max-width: 767.98px) {
      margin-top: rem(8) !important;
    }

    .inherit {
      font-size: rem(96);
      @media screen and (max-width: 1199.98px) {
        @include font-size(60);
      }
    }
  }

  &__description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @media screen and (max-width: 767.98px) {
      flex-wrap: wrap;
    }

    &-text {
      color: $white;

      &:first-child {
        text-align: right;
        @media screen and (max-width: 767.98px) {
          text-align: center;
        }
      }

      &:last-child {
        text-align: left;
        @media screen and (max-width: 767.98px) {
          text-align: center;
        }
      }

      br {
        @media screen and (max-width: 767.98px) {
          display: none;
        }
      }
    }

    &-upper,
    &-separator {
      color: $white;
      font-size: rem(30);
      font-family: 'Pepsi', sans-serif;
      letter-spacing: 0.05em;
      @media screen and (max-width: 1199.98px) {
        @include font-size(24);
      }
      @media screen and (max-width: 767.98px) {
        text-align: center;
      }
    }

    &-separator {
      @media screen and (max-width: 767.98px) {
        display: none;
      }
    }

    &-lower {
      display: block;
      margin: rem(4) 0;
      color: $white;
      font-weight: 500;
      font-size: rem(24);
      @media screen and (max-width: 1199.98px) {
        @include font-size(18);
      }
      @media screen and (max-width: 767.98px) {
        text-align: center;
      }
    }
  }
}

.rules {
  position: relative;
  @media screen and (max-width: 767.98px) {
    .rules__head-pic {
      display: none;
    }

    .rules__head-wrapper {
      grid-template-columns: 1fr;
    }

    .rules__head-line {
      display: none;
    }
  }

  &__clip {
    content: '';
    position: absolute;
    top: rem(30);
    z-index: 0;
    width: 100%;
    height: 100%;
    max-height: rem(800);
    background-color: $accent;
    clip-path: polygon(
      21% 0,
      79% 0,
      81% 4%,
      100% 0,
      100% 100%,
      50% 100%,
      10% 100%,
      0 100%,
      0 0,
      19% 4%
    );
    @media screen and (max-width: 767.98px) {
      max-height: 100%;
      clip-path: polygon(
        10% 0,
        90% 0,
        100% 2%,
        100% 0,
        100% 100%,
        50% 100%,
        10% 100%,
        0 100%,
        0 0,
        0% 2%
      );
    }
  }

  &__bg {
    display: block;
    width: 100%;
  }

  &__head {
    &-wrapper {
      display: grid;
      grid-template-rows: rem(60);
      grid-template-columns: rem(64) 1fr rem(64);
      max-width: rem(1170);
      margin: 0 auto;
      @media screen and (max-width: 1199.98px) {
        grid-template-rows: rem(48);
        grid-template-columns: rem(48) 1fr rem(48);
      }
    }

    &-pic {
      width: 100%;
      height: 100%;

      &:last-child {
        transform: rotate(90deg);
      }
    }

    &-inner {
      position: relative;
    }

    &-line {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 0;
      width: 100%;
      height: rem(25);
      border-radius: rem(25);
      background-color: #e30a18;
      transform: translateY(-50%);
      @media screen and (max-width: 1199.98px) {
        height: rem(18);
      }
    }

    &-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: rem(8) rem(25);
      border-radius: rem(4);
      background: #14427a;
      color: $white;
      font-size: rem(42);
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: 1199.98px) {
        @include font-size(30);
      }

      span {
        @include size(rem(16));

        display: flex;
        border-radius: 50%;
        background-color: $white;
      }

      &-outer {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: rem(490);
        height: 100%;
        margin: 0 auto;
        padding: 0 rem(4) rem(8);
        border-radius: rem(4);
        background: #009fe3;
        box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
        @media screen and (max-width: 1199.98px) {
          max-width: rem(280);
        }
      }
    }
  }

  &__h2 {
    margin: rem(44) auto rem(24);
    color: $white;
    font-size: rem(60);
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 1199.98px) {
      @include font-size(30);

      margin: rem(22) auto rem(12);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(1085);
    margin: 0 auto;
    @media screen and (max-width: 1199.98px) {
      flex-direction: column;
    }
  }

  &__team {
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 1199.98px) {
        margin-bottom: rem(16);
      }
    }

    &-header {
      color: $white;
      font-size: rem(50);
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: 1199.98px) {
        font-size: rem(25);
      }
    }

    &-img {
      width: rem(315);
      height: rem(220);
      @media screen and (max-width: 1199.98px) {
        width: 100%;
        max-width: rem(140);
        height: auto;
        max-height: rem(140);
      }
    }
  }

  &__people {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 1199.98px) {
        margin-bottom: rem(16);
      }
      @media screen and (max-width: 767.98px) {
        flex-direction: column;
      }
    }

    &-header {
      margin: 0 rem(70);
      color: $white;
      font-size: rem(42);
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: 1199.98px) {
        margin-bottom: rem(32);
        font-size: rem(24);
      }
      @media screen and (max-width: 1199.98px) {
        margin: rem(16) auto;
      }
    }

    &-img {
      width: rem(140);
      height: rem(140);
      max-height: rem(140);
      @media screen and (max-width: 1199.98px) {
        height: auto;
      }
    }
  }

  &__details {
    @include media-breakpoint-down(xl) {
      padding-bottom: rem(20);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(70);

    &-header {
      color: $white;
      font-size: rem(50);
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: 1199.98px) {
        @include font-size(24);
      }
    }

    &-descr {
      margin-bottom: rem(25);
      color: $white;
      font-size: rem(42);
      line-height: 1;
      text-align: center;
      @media screen and (max-width: 1199.98px) {
        @include font-size(18);
      }
    }
  }

  &__item {
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 1199.98px) {
        margin: 0 auto;
      }

      &:first-child {
        margin-left: rem(120);
        @media screen and (max-width: 1199.98px) {
          margin: 0 auto;
        }
      }

      &:last-child {
        margin-right: rem(120);
        @media screen and (max-width: 1199.98px) {
          margin: 0 auto;
        }
      }
    }

    &-img {
      width: rem(180);
      height: rem(110);
      @media screen and (max-width: 1199.98px) {
        width: 100%;
        max-width: rem(280);
        height: auto;
        max-height: rem(220);
      }
    }

    &-header,
    &-subheader {
      font-size: rem(42);
      text-align: center;
      @media screen and (max-width: 1199.98px) {
        @include font-size(18);
      }
    }

    &-header {
      margin-top: rem(12);
      color: $accent;
      text-transform: uppercase;
    }

    &-subheader {
      color: $white;
    }
  }

  &__list {
    @media screen and (max-width: 1199.98px) {
      max-width: rem(300);
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: rem(1190);
      margin: rem(16) auto 0;
      padding-bottom: rem(75);
      @media screen and (max-width: 1199.98px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @media screen and (max-width: 767.98px) {
        padding-bottom: 0;
      }
    }

    &-item {
      position: relative;
      margin-bottom: rem(10);
      margin-left: rem(20);
      color: $white;
      font-size: rem(24);
      line-height: rem(29);
      @media screen and (max-width: 1199.98px) {
        @include font-size(16);

        line-height: rem(20);
      }

      &::before {
        content: '';
        position: absolute;
        top: rem(10);
        left: rem(-20);
        display: block;
        width: rem(10);
        height: rem(10);
        border-radius: 50%;
        background-color: $white;
        @media screen and (max-width: 1199.98px) {
          top: rem(8);
          width: rem(5);
          height: rem(5);
        }
      }
    }
  }

  &__alt {
    position: relative;
    margin-top: rem(-65);
    padding-top: rem(65);

    > .rules {
      &__clip {
        background-color: $primary;
        @media screen and (max-width: 1199.98px) {
          height: 100%;
          max-height: 100%;
        }
        @media screen and (max-width: 767.98px) {
          clip-path: polygon(
            10% 0,
            90% 0,
            100% 2%,
            100% 0,
            100% 100%,
            50% 100%,
            10% 100%,
            0 100%,
            0 0,
            0% 2%
          );
        }
      }
    }
  }
}

.teams {
  position: relative;
  margin-top: rem(-65);
  padding-top: rem(65);
  padding-bottom: rem(35);

  &__clip {
    content: '';
    position: absolute;
    top: rem(30);
    z-index: 0;
    width: 100%;
    height: 100%;
    max-height: rem(800);
    background-color: $white;
    clip-path: polygon(
      21% 0,
      79% 0,
      81% 4%,
      100% 0,
      100% 100%,
      50% 100%,
      10% 100%,
      0 100%,
      0 0,
      19% 4%
    );
    @media screen and (max-width: 767.98px) {
      top: unset;
      max-height: 100%;
      // clip-path: polygon(
      //   10% 0,
      //   90% 0,
      //   100% 2%,
      //   100% 0,
      //   100% 100%,
      //   50% 100%,
      //   10% 100%,
      //   0 100%,
      //   0 0,
      //   0% 2%
      // );

      clip-path: unset;
    }
  }

  &__h2 {
    margin: rem(44) auto rem(24);
    color: $accent;
    font-size: rem(60);
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 1199.98px) {
      @include font-size(30);

      margin: rem(22) auto rem(12);
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, rem(330)));
    gap: rem(16);
    padding: 0 rem(20) rem(20);
    border: 3px solid #009fe3;
    @media screen and (max-width: 767.98px) {
      grid-template-columns: 1fr;
      gap: 0 rem(16);
    }

    &-wrapper {
      margin-bottom: rem(40);
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: rem(1150);
      margin: 0 auto;
      background-color: $primary;
      clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    }

    &-subheader {
      grid-column: 1 / -1;
      color: $black;
      font-size: rem(50);
      line-height: 1;
      text-align: center;
      @media screen and (max-width: 1199.98px) {
        @include font-size(24);
      }
    }

    &-time {
      color: $white;
      font-size: rem(50);
      font-family: 'Pepsi', sans-serif;
      text-align: center;
      @media screen and (max-width: 1199.98px) {
        @include font-size(22);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: rem(20);
      border: 1px solid #d7e6ee;
      border-radius: 0;
      transition: background-color 0.5s ease-in-out;

      &:hover {
        background-color: $primary;

        p {
          color: $white;
        }
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        margin-top: rem(30);
        @media screen and (max-width: 1199.98px) {
          margin-top: 0;
        }
        @media screen and (max-width: 767.98px) {
          margin-top: rem(16);
        }
      }

      &-header {
        color: #333;
        font-size: rem(30);
        line-height: rem(36);
        text-align: center;
        @media screen and (max-width: 1199.98px) {
          @include font-size(16);
        }
      }

      &-name {
        color: #0b70a5;
        font-size: rem(24);
        line-height: rem(29);
        text-align: center;
        transition: color 0.5s ease-in-out;
        @media screen and (max-width: 1199.98px) {
          @include font-size(18);

          line-height: rem(20);
        }
      }

      &-descr {
        color: #828282;
        font-size: rem(12);
        line-height: rem(22);
        text-align: center;
        transition: color 0.5s ease-in-out;
      }
    }
  }
}

.map {
  position: relative;
  overflow: hidden;
  padding-bottom: rem(325);
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  &-mobile {
    position: relative;
    display: none;
    // background-color: $primary;
    @media screen and (max-width: 767.98px) {
      display: block;
    }
  }

  &__clip {
    content: '';
    position: absolute;
    top: rem(30);
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    clip-path: polygon(
      21% 0,
      79% 0,
      81% 4%,
      100% 0,
      100% 100%,
      50% 100%,
      10% 100%,
      0 100%,
      0 0,
      19% 4%
    );
    @media screen and (max-width: 767.98px) {
      clip-path: polygon(
        10% 0,
        90% 0,
        100% 2%,
        100% 0,
        100% 100%,
        50% 100%,
        10% 100%,
        0 100%,
        0 0,
        0% 2%
      );
    }
  }

  &__h2 {
    @include media-breakpoint-down(xl) {
      margin-bottom: 0;
      line-height: 1;
    }

    margin: 0 auto rem(14);
    color: $white;
    font-size: rem(60);
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 1199.98px) {
      @include font-size(30);

      margin: rem(22) auto rem(12);
    }
  }

  &-logo {
    margin-top: rem(40);
    @media screen and (max-width: 767.98px) {
      margin-top: 0;
    }
  }

  &__box {
    position: absolute;
    top: rem(30);
    left: 0;
    width: 50%;
    height: 100%;
    // background-color: $black;
    clip-path: polygon(
      0% 0%,
      37% 10%,
      29% 21%,
      80% 30%,
      65% 37%,
      80% 49%,
      80% 58%,
      93% 63%,
      99% 75%,
      97% 88%,
      99% 100%,
      0 100%
    );
    @media screen and (max-width: 1600px) {
      clip-path: polygon(
        0% 0%,
        0% 0%,
        1% 20%,
        80% 30%,
        65% 37%,
        80% 49%,
        80% 58%,
        93% 63%,
        99% 75%,
        97% 88%,
        99% 100%,
        0 100%
      );
    }

    &.mirrored {
      right: 0;
      left: unset;
      clip-path: polygon(
        100% 100%,
        100% 0,
        63% 10%,
        71% 21%,
        20% 30%,
        35% 37%,
        20% 49%,
        20% 58%,
        7% 63%,
        1% 75%,
        3% 88%,
        1% 100%,
        0 100%
      );
      @media screen and (max-width: 1600px) {
        clip-path: polygon(
          100% 100%,
          100% 0,
          99% 20%,
          99% 20%,
          20% 30%,
          35% 37%,
          20% 49%,
          20% 58%,
          7% 63%,
          1% 75%,
          3% 88%,
          1% 100%,
          0 100%
        );
      }
    }

    &-mobile {
      width: 100%;
      height: rem(420);
      margin: rem(16) 0;
    }
  }
}
