@use 'src/scss/utils/vars' as *;
@use 'src/scss/utils/mixins' as *;

.banner {
  position: relative;
  padding-top: rem(10);

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &__logo {
    display: block;
    width: rem(330);
    height: rem(330);
    margin: 0 auto;
  }

  &__inner {
    position: relative;
    top: rem(-80);
    width: 100%;
    max-width: rem(1185);
    margin: 0 auto rem(-105);
    padding-top: rem(25);

    &-bg {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      width: rem(880);
      height: rem(280);
      transform: translateX(-50%);
    }
  }

  &__header {
    margin-bottom: rem(4);
    color: $white;
    font-size: rem(50);
    text-align: center;
    text-transform: uppercase;
  }

  &__subheader {
    color: $white;
    font-size: rem(42);
    text-align: center;
  }

  &__price {
    display: block;
    width: 100%;
    margin-top: rem(-40);
    color: $white;
    font-size: rem(50);
    font-family: 'Pepsi', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    .inherit {
      font-size: rem(96);
    }
  }

  &__description {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &-text {
      color: $white;

      &:first-child {
        text-align: right;
      }

      &:last-child {
        text-align-last: left;
      }
    }

    &-upper,
    &-separator {
      color: $white;
      font-size: rem(30);
      font-family: 'Pepsi', sans-serif;
      letter-spacing: 0.05em;
    }

    &-lower {
      display: block;
      margin: rem(4) 0;
      color: $white;
      font-weight: 500;
      font-size: rem(24);
    }
  }
}
