footer.footer
  +wrapper('footer')
    .footer__cell
      a.footer__text(href="mailto:info@site.ru") Email для связи: info@site.ru
      p.footer__text 2020. Все права защищены. Политика конфеденциальности
    .footer__cell
      img.msport(src="./assets/img/msport.png")
    .footer__cell
      .footer__socials
        p.footer__text Мы в соц.сетях
        a(href="#")
          img(src="./assets/img/ig.png")
        a(href="#")
          img(src="./assets/img/vk.png")
      p.footer__text
        | Разработка сайта
        img.softmg(src="./assets/img/smg.png")
